server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://localhost:3307/enews_identity_service"
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 3600
  refreshable-duration: 36000

outbound:
  identity:
    client-id: "1068236266740-2c0r1gqu2eu1b0lghhn7tg1ea9qpti2a.apps.googleusercontent.com"
    client-secret: "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"
    redirect-uri: "http://localhost:3000/authenticate"
