server:
  port: 8888

app:
  api-prefix: /api/v1

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: identity-service
              uri: http://localhost:8080
              predicates:
                - Path=${app.api-prefix}/identity/**
              filters:
                - StripPrefix=2
            - id: notification-service
              uri: http://localhost:8081
              predicates:
                - Path=${app.api-prefix}/notification/**
              filters:
                - StripPrefix=2
            - id: comment-service
              uri: http://localhost:8082
              predicates:
                - Path=${app.api-prefix}/comment/**
              filters:
                - StripPrefix=2
            - id: content-service
              uri: http://localhost:8083
              predicates:
                - Path=${app.api-prefix}/content/**
              filters:
                - StripPrefix=2
            - id: ai-service
              uri: http://localhost:8084
              predicates:
                - Path=${app.api-prefix}/ai/**
              filters:
                - StripPrefix=2
            - id: search-service
              uri: http://localhost:8085
              predicates:
                - Path=${app.api-prefix}/search/**
              filters:
                - StripPrefix=2